/* icon font */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?mwevy9');
    src:  url('../fonts/icomoon.eot?mwevy9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mwevy9') format('truetype'),
    url('../fonts/icomoon.woff?mwevy9') format('woff'),
    url('../fonts/icomoon.svg?mwevy9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
    content: "\e911";
}
.icon-file-text:before {
    content: "\e922";
}
.icon-file-picture:before {
    content: "\e927";
}
.icon-file-play:before {
    content: "\e929";
}
.icon-file-zip:before {
    content: "\e92b";
}
.icon-folder:before {
    content: "\e92f";
}
.icon-question:before {
    content: "\ea09";
}

body {
    padding-top: 80px;
}

#sort-dialog {
    box-sizing: border-box;
    width: 100%;
    max-width: 200px;
    padding: 30px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .5);
    background-color: #373d50;
}

#sort-dialog::backdrop {
    background-color: rgba(0, 0, 0, .6);
}

#sort-dialog h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(194, 199, 208);
    text-align: center;
    font-size: 20px;
}

#sort-dialog select {
    display: block;
    width: 100%;
    height: 30px;
    margin: 20px 0;
    padding: 0 10px;
    border-width: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 30px;
    outline: none;
}

#sort-dialog .btn-groups {
    display: flex;
    justify-content: space-between;
}

#sort-dialog .btn-groups button {
    display: block;
    padding: 8px 14px;
    border-radius: 4px;
    border-width: 0;
    background-color: #56679f;
    font-size: 14px;
    color: rgb(216, 221, 230);
    cursor: pointer;
}

#sort-dialog .btn-groups button:hover {
    background-color: #7086d0;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

main > #action > #sort {
    display: block;
    margin-bottom: 10px;
    padding: 8px 14px;
    border-radius: 4px;
    border-width: 0;
    background-color: #46537d;
    font-size: 14px;
    color: rgb(194, 199, 208);
    cursor: pointer;
}

main > #action > #sort:hover {
    background-color: #576699;
}

main > #up-level,
main > #files > a {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #202632;
    background-color: #2c303f;
    color: rgb(194, 199, 208);
    text-decoration: none;
    font-size: 14px;
}

main > #up-level:hover,
main > #files > a:hover {
    background-color: #373d50;
}

main > #files > a > [class^="icon-"] {
    align-self: center;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    font-size: 14px;
}

main > #files > a > [class^="icon-"][data-file-type=dir] {
    color: #ffdc78;
}

main > #files > a > [class^="icon-"][data-file-type=video] {
    color: #70c3ff;
}

main > #files > a > [class^="icon-"][data-file-type=audio] {
    color: #f6801f;
}

main > #files > a > [class^="icon-"][data-file-type=image] {
    color: #c4fff1;
}

main > #files > a > [class^="icon-"][data-file-type=package] {
    color: #ffdc78;
}

main > #files > a > [class^="icon-"][data-file-type=text] {
    color: #aedfd0;
}

main > #files > a > [class^="icon-"][data-file-type=unknown] {
    color: #f8f9fa;
}

main > #files > a > .filename {
    flex: 1;
    word-wrap: break-word;
    word-break: break-all;
}

main > #files > a > .size {
    align-self: center;
    width: 80px;
    text-align: right;
}

/* 移动端适配 */
@media (max-width: 575px) {
    main > #up-level,
    main > #files > a {
        font-size: 12px;
    }

    main > #files > a > .size {
        width: 70px;
    }
}