<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />

    <link rel="stylesheet" href="/static/css/base.css"/>

    {% block style %}
    {% endblock style %}
</head>
<body>

    <nav>
        <div class="content">
            <a class="index" href="{{ url_for('main.index') }}">主页</a>
            {% if is_login() %}
                <a class="logout" href="{{ url_for('auth.logout') }}">登出</a>
            {% else %}
                <a class="login" href="{{ url_for('auth.login') }}">登录</a>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <script src="/static/js/common.js"></script>
    <script src="/static/js/base.js"></script>

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
