{% extends "base.html" %}

{% block title %}主页{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/static/css/index.css" />
{% endblock style %}

{% block content %}

<main>
    {% if vd %}
        {% for f in myfiles %}
            <a href="{{ url_for('main.index', vd=vd, path=paths[loop.index0]) }}">
                <div class="{{ type_class_map[f.file_type] }}"
                     data-file-type="{{ f.file_type }}"></div>
                <div class="filename">{{ f.filename }}</div>
                {% if f.file_type != 'dir' %}
                    <div class="size">{{ f.size_str }}</div>
                {% endif %}
            </a>
        {% endfor %}
    {% else %}
        {% for v in vd_list %}
            <a href="{{ url_for('main.index', vd=v['dir_path']) }}">
                <div class="icon-folder" data-file-type="dir"></div>
                <div class="filename">{{ v['dir_path'] }}</div>
            </a>
        {% endfor %}
    {% endif %}
</main>

{% endblock content %}